{% extends 'base.html.twig' %}

{% block body %}

  <div class="my-2">
    <h1>Formations</h1>
  </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nom Complet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.nom }}</td>
                <td>{{ formation.nomComplet }}</td>
                <td>
                  <div class="my-1">
                    <a class="btn btn-primary" href="{{ path('formation_show', {'id': formation.id}) }}">Voir</a>
                    {#<a class="btn btn-primary" href="{{ path('formation_edit', {'id': formation.id}) }}">Modifier</a>#}
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat :(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#

  <div class="my-1">
     <a class="btn btn-primary"  href="{{ path('formation_new') }}">Créer une Formation</a>
   </div>

#}
{% endblock %}
