{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <div class="my-2">
      <h1> Entreprises </h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Activité</th>
                <th>Adresse</th>
                <th>Site Web</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.activite }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td><a href="{{ entreprise.siteWeb }}">{{ entreprise.siteWeb }}</a></td>
                <td>
                  <div class="my-1">
                    <a class="btn btn-primary" href="{{ path('entreprise_show', {'id': entreprise.id}) }}" role="button">Voir</a>
                    <a class="btn btn-primary" href="{{ path('entreprise_edit', {'id': entreprise.id}) }}" role="button">Modifier</a>
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="my-1">
      <a class="btn btn-primary" href="{{ path('entreprise_new') }}" role="button">Créer une Entreprise</a>
    </div>
{% endblock %}
