{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-2">
      <h1>Stages</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Domaine</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.titre }}</td>
                <td>{{ stage.domaine }}</td>
                <td>{{ stage.email }}</td>
                <td>
                  <div class="row my">
                    <a class="btn btn-primary" href="{{ path('stage_show', {'id': stage.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('stage_edit', {'id': stage.id}) }}">Modifier</a>
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat :(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="my-1">
      <a class="btn btn-primary" href="{{ path('stage_new') }}">Créer un stage</a>
    </div>
{% endblock %}
